body,
html {
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	scroll-behavior: smooth;
}

*::after,
*::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	outline: none;
}

$font-satoshi: 'Satoshi', sans-serif;
$font-clashDisplay: 'Clash Display', sans-serif;
$bg-color-purple: #2a254b;
$color-text: #2a254b;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-clashDisplay;
	font-weight: 400;
}

p {
	font-family: $font-satoshi;
	font-weight: 400;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 2;
	opacity: 1;
	visibility: visible;
	transition: 2s all;

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 75px;
		height: 75px;
		border: 10px solid rgba($color: #f9f9f9, $alpha: 0.15);
		border-radius: 50%;
		border-top-color: #4e4d93;
		border-bottom-color: #4e4d93;
		filter: drop-shadow(0 0 5px #4e4d93) contrast(150%);
		animation: spin 3s infinite;
	}

	&.done {
		opacity: 0;
		visibility: hidden;
	}

	.color {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 105px;
		height: 105px;
		border-radius: 50%;
		border: 5px solid rgba($color: #f9f9f9, $alpha: 0.15);
		border-top-color: #4e4d93;
		border-bottom-color: #4e4d93;
		z-index: 1;
		filter: contrast(150%) blur(6px);
		animation: spin2 3s infinite;
	}
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes spin2 {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

.preloader__text {
	margin-top: 140px;
	text-align: center;
	color: #fff;
	opacity: 1;
	animation: preload-text 2s infinite;
	transition: all 0.5;
}

@keyframes preload-text {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
}

.burger-menu {
	display: none;
}
.burger-content {
	display: flex;
	gap: 20px;
}

.header__nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.header__nav-list-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 16px;
}

.header__nav-input {
	border: 1px solid $bg-color-purple;
	padding: 0 10px;
	outline: none;
	border-radius: 22px;
	transition: all 0.4s;

	&:focus {
		outline: 2px solid $bg-color-purple;
		box-shadow: 0 0 10px $bg-color-purple;
		transition: all 0.4s;
	}
}
.header__nav-svg {
	width: 16px;
	height: 16px;
}

.header__nav-input {
	display: inline-block;
	opacity: 0;
	width: 0;
	height: 18px;
	transition: all 0.3s;
}

.header__nav-input--active {
	opacity: 1;
	width: 150px;
	height: 30px;
	transition: all 0.3s;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav-list {
	display: flex;
	justify-content: center;
	padding: 29px 0;
	gap: 44px;
	font-family: $font-satoshi;
	color: #726e8d;
}

.header__nav-link {
	position: relative;
	transition: all 0.3s;

	&::after {
		content: '';
		display: flex;
		position: absolute;
		right: 0;
		bottom: -1px;
		width: 0;
		height: 2px;
		background-color: $color-text;
		transition: all 0.4s;
	}

	&:hover {
		&::after {
			left: 0;
			width: 100%;
			transition: all 0.4s;
		}
		color: $color-text;
		transition: all 0.3s;
	}
}

.top {
	background: url('../image/HeroBlocks-top.jpeg') no-repeat center;
	height: 704px;
	display: flex;
	align-items: center;
}

.top__block {
	float: right;
	width: 49%;
	height: 344px;
	padding: 46px 50px;
	background-color: #fff;
}

.top__block-title {
	font-family: $font-clashDisplay;
	font-size: 32px;
	margin-bottom: 20px;
}

.top__block-text {
	color: #5b5676;
	font-family: $font-satoshi;
	font-size: 18px;
	margin-bottom: 157px;
}

.top__block-link {
	padding: 16px 32px;
	font-family: $font-satoshi;
	color: $color-text;
	background-color: #f9f9f9;
	transition: all 0.4s;

	&:hover {
		background-color: #726e8d;
		color: #f9f9f9;
		transition: all 0.4s;
	}
}

.makes {
	padding: 0 0 80px;
}

.makes__title {
	font-size: 24px;
	color: $color-text;
	margin: 80px 0 36px;
	text-align: center;
}

.makes__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 22px;
}

.makes__list-item {
	background-color: #f9f9f9;
	width: 69%;
	height: 192px;
	padding: 48px;
}

.makes__list-img,
.makes__list-title {
	margin-bottom: 12px;
}

.collection {
	padding: 28px 0 40px;
}

.collection__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 48px;
}

.collection__list-img {
	margin-bottom: 24px;
}

.collection__list-title {
	font-size: 20px;
	margin-bottom: 8px;
}

.collection__link {
	display: block;
	margin: 0 auto;
	width: 138px;
	text-align: center;
}

.small {
	padding: 60px 0;
}

.small__block {
	display: flex;
	gap: 16px;
}

.small__block-groups {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 64px;
	background-color: #2a254b;
}

.small__block-title {
	margin-bottom: 12px;
	font-size: 32px;
	color: #fff;
}
.small__block-text {
	font-size: 18px;
	color: #fff;
}

.small__block-link {
	display: inline;
	width: 138px;
	text-align: center;
	background-color: rgba($color: #f9f9f9, $alpha: 0.15);
	color: #fff;
}

.benefits {
	background: url('../image/benefits-img.jpeg') no-repeat center;
	background-size: cover;
	height: 261px;
	padding: 97px 0 86px;
}

.benefits__content {
	width: 39%;
	margin: 0 auto;
	color: #fff;
}

.benefits__title {
	text-align: center;
}

.benefits__text {
	width: 94%;
	margin: 0 auto 30px;
	text-align: center;
	font-size: 18px;
}

.benefits__list {
	display: flex;
	justify-content: center;
	gap: 36px;
	margin-bottom: 40px;
}

.benefits__list-item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.benefits__list-svg {
	fill: #fff;
}

.benefits__form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.benefits__from-input {
	width: 334px;
	height: 56px;
	margin: 0;
	padding: 0 10px;
	border: none;
	outline: none;
	transition: all 0.4s;

	&:focus {
		color: $bg-color-purple;
		box-shadow: 0 0 15px $bg-color-purple;
		transition: all 0.4s;
	}
}

.benefits__form-btn {
	height: 56px;
	padding: 16px 32px;
	color: #fff;
	background-color: $bg-color-purple;
	border: none;
	font-size: 16px;
	transition: all 0.4s;

	&:hover {
		background-color: #f9f9f9;
		color: #000;
		box-shadow: 0 0 5px $bg-color-purple;
		transition: all 0.4s;
	}
}

.footer {
	background-color: $bg-color-purple;
	color: #f9f9f9;
}

.footer__group {
	display: flex;
	gap: 109px;
	padding: 58px 0;
	border-bottom: 1px solid #4e4d93;
}

.footer__group-list {
	display: flex;
	gap: 103px;
}

.footer__group-item {
	display: flex;
	flex-direction: column;
	width: 108px;
	gap: 12px;
}

.footer__group-list-title {
	font-size: 16px;
	font-family: $font-clashDisplay;
}

.footer__group-list-link {
	position: relative;
	font-size: 14px;
	font-family: $font-satoshi;

	&::after {
		content: '';
		position: absolute;
		bottom: -3px;
		right: 0;
		transform: scale(0);
		height: 2px;
		background-color: #4e4d93;
		transition: all 0.4s;
	}

	&:hover {
		color: #fff;

		&::after {
			left: 0;
			opacity: 1;
			transform: scale(1);
			transition: all 0.4s;
		}
		transition: all 0.4;
	}
}

.form__content {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
}
.footer__content-title {
	font-size: 16px;
	margin-bottom: 16px;
}
.footer__form {
	display: flex;
}

.footer__form-input {
	width: 67%;
	background-color: rgba($color: #fff, $alpha: 0.15);

	&:focus {
		background-color: rgba($color: #fff, $alpha: 0.8);

		&::placeholder {
			color: #2a254b;
			transition: all 0.4s;
		}

		transition: all 0.4s;
	}

	&::placeholder {
		color: #f9f9f9;
	}
}

.footer__form-btn {
	color: #000;
	background-color: #fff;

	&:hover {
		color: #fff;
		background-color: #726e8d;
		box-shadow: 0 0 10px #fff;
		transition: all 0.4s;
	}
}

.footer__copyright {
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
}

.footer__copyright-list {
	display: flex;
	gap: 24px;
}

.ads-modals {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(100%, -50%) translateX(-100%);
	width: 400px;
	height: 500px;
	color: #f9f9f9;
	border-radius: 22px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 0 15px $bg-color-purple;
	transition: all 0.4s;

	.ads-madals__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('../image/photo-ads.jpeg') no-repeat center;
		background-size: cover;
		filter: blur(5px);
	}

	.ads-modals__content {
		position: absolute;
		z-index: 3;
		padding: 50px;

		svg {
			width: 20px;
			height: 20px;
			float: right;
		}
	}
}

.ads-modals--show {
	display: block;
	transform: translate(-50%, -50%) translateX(0%);
	opacity: 1;
	visibility: visible;
	transition: all 0.4s;
}

.ads-modals__content-title {
	font-size: clamp(1rem, -4rem + 20vw, 2.25rem);
}

.ads-modals__content-text {
	font-size: clamp(0.875rem, -0.625rem + 6vw, 1.25rem);
}
