body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash Display", sans-serif;
}

p {
  font-family: "Satoshi", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: 2s all;
}

.preloader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border: 10px solid #fff;
  border-radius: 50%;
  border-top-color: #2a254b;
  animation: spin 3s infinite;
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.preloader__text {
  margin-top: 140px;
  text-align: center;
  color: #fff;
  opacity: 1;
  animation: preload-text 2s infinite;
  transition: all 0.5;
}

@keyframes preload-text {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__nav-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 16px;
}

.header__nav-svg {
  width: 16px;
  height: 16px;
}

.header__nav-input {
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 18px;
  transition: all 0.3s;
}

.header__nav-input--active {
  opacity: 1;
  width: 150px;
  height: 30px;
  transition: all 0.3s;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  padding: 29px 0;
  gap: 44px;
  font-family: "Satoshi", sans-serif;
  color: #726e8d;
}

.header__nav-link {
  position: relative;
  transition: all 0.3s;
}

.header__nav-link::after {
  content: '';
  display: flex;
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #2a254b;
  transition: all 0.4s;
}

.header__nav-link:hover {
  color: #2a254b;
  transition: all 0.3s;
}

.header__nav-link:hover::after {
  left: 0;
  width: 100%;
  transition: all 0.4s;
}

.top {
  background: url("../image/HeroBlocks-top.jpeg") no-repeat center;
  height: 704px;
  display: flex;
  align-items: center;
}

.top__block {
  float: right;
  width: 49%;
  height: 344px;
  padding: 46px 50px;
  background-color: #fff;
}

.top__block-title {
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}

.top__block-text {
  color: #5b5676;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  margin-bottom: 157px;
}

.top__block-link {
  padding: 16px 32px;
  font-family: "Satoshi", sans-serif;
  color: #2a254b;
  background-color: #f9f9f9;
  transition: all 0.4s;
}

.top__block-link:hover {
  background-color: #726e8d;
  color: #f9f9f9;
  transition: all 0.4s;
}

.makes__title {
  font-size: 24px;
  font-weight: 400;
  color: #2a254b;
  margin: 80px 0 36px;
  text-align: center;
}

.makes__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.makes__list-item {
  background-color: #f9f9f9;
  width: 69%;
  height: 192px;
  padding: 48px;
}

.makes__list-img,
.makes__list-title {
  margin-bottom: 12px;
}
